@charset "utf-8";
/* CSS Document */


@media only screen and (max-width: 600px){
	.danhmuc-img{
		max-width: 200px;
	  }
	.danhmuc{
		display: table-column;
	}
	.back-to-top{
		top: 50rem;
	}
}


